<div class="center font">
    <h1><%= @card.name %></h1>
    <p>Value: <%= @card.value %></p>
    <p>Suit: <%= @card.suit %></p>
    <p>Color: <%= @card.color %></p>
    <p>Quote: <%= @card.quote %></p>
    <%= image_tag(@card.image, :size => "240x360") %>
</div>