<div class="center font home">
    <h1 style="margin: 2rem;"><b><%= @deck.name %></b></h1>
    <p>Deck Type: <%= @deck.deck_type %></p>

    <div class="buttons">
        <div class="btn btn-outline-primary mt-auto">
            <%= link_to "Shuffle this deck", deck_path(@deck, sort: 'random()', class: "btn") %>
        </div>
        
        <div class="divider"></div>
        <div class="btn btn-outline-primary mt-auto">
            <%= link_to "Sort this deck", deck_path(@deck, sort: 'rank desc', class: "btn") %>
        </div>
    </div>
</div>

<div class="container font">
    <h1 style="margin: 2rem;">Cards in this Deck</h1>

    <% @cards.in_groups_of(6, false).each do |card_group| %>
        <div class="row">
            <% card_group.each do |card| %>
                <div class="col-md-2 py-2">
                    <div class="card h-100">
                        <%= image_tag(card.image, :size => "100x180", class: "card-img-top") %>
                    
                        <div class="card-img-overlay d-flex flex-column" id="card-<%= card.id %>" >
                            <a href="/cards/<%= card.id %>" class="btn btn-danger mt-auto btn-size"><%= card.name %></a>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
</div>


